name: example / auto label issue
on:
  issues:
    types: [opened, edited]
permissions: 
  issues: write
jobs:
  mark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: ${{ secrets.GITHUB_TOKEN  }}
          sparse-checkout: examples/config.yaml
      - uses: oakcask/github-action-auto-label-issue@866609b7f6ec88d77047f8b1ccca765efac1fa1c # v2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: examples/config.yaml
